{%block content%}
<div class="col-lg-auto" style="margin-bottom: 5px;">
    <div class="card" style="width: 18rem;">

        <img  src="{{card_img}}" class="card-img-top" alt="...">
        <div class="card-body">

            <h5 class="card-title">{{card_name}}</h5>

            <p class="card-text">{{card_tag}}</p>
            <p class="card-text">{{card_post_date}}</p>
            <p class="card-text">{{card_location}}</p>
            <a href="/feed/{{post_id}}" class="btn btn-primary">К посту</a>
        </div>
    </div>
</div>
{%endblock%}