<div class="container">
  <div class="row justify-content-center menu ">
    <div class="col-sm-auto a-m">
      <a href="">Главная</a>
    </div>

    <!-- <div class="col-sm-auto ">
      <img scr="https://avatanplus.com/files/resources/original/573809a773ae0154b2e5b632.png">
    </div> -->

    <div class="col-sm-auto a-m">
      <a href="/account/">Профиль</a>
    </div>


    <!-- <div class="col-sm-auto">
      <img scr="https://im.promisemobile.ru/images/close_mobile.png" />
    </div> -->

    <div class="col-sm-auto a-m">
      <a href="/feed/">Лента</a>
    </div>
    
    <!-- <div class="col-sm-auto">
      <img scr="https://im.promisemobile.ru/images/close_mobile.png" />
    </div> -->

    <div class="col-sm-auto a-m">
      <a href="">О нас</a>
    </div>
  </div>
</div>