{% extends "public_html/inner.html" %}
{%block content%}
<div class="container post gradient-border" style="margin-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <form action="" method="POST" style="margin-block-start: 20px;">
                {% csrf_token %}
                {% if error %}
                {{ error }}
                {% endif %}
                {{ form.as_p }}
                <input class="btn btn-light" type="submit" name="submit" value="Отправить" style="margin-bottom: 10px;" />
            </form>
        </div>
        <div class="justify-content-center">
            <a href="{{link}}"> <img class="qr" src="{{src}}" alt="" style="margin-bottom: 100px;"> </a>
        </div>
        <p>{{deg}}</p>
    </div>
</div>
{%endblock%}