<div class="container grad">
    <div class="row">
        {%load static%}
        <!-- {%for us in object_list%}
        <a href="">
            <div class="jumbotron acc-info">
                <div class="justify-content-center grad">
                    <img src="{{us.acc_img}}">
                </div>
                <div class="text-center">
                    {{us.first_name}} <br>
                    {{us.second_name}}
                </div>
                <div class="text-center" style="color:crimson;">
                    "{{us.user_name}}"
                </div>
            </div>
        </a>
        {%endfor%} -->
    </div>
</div>